@model PIV_Proyecto.Models.ClasificacionProducto
@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de Clasificacion Productos</h2>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ClasificacionProductoId)</dt>
        <dd>@Html.DisplayFor(model => model.ClasificacionProductoId)</dd>

        <dt>@Html.DisplayNameFor(model => model.Codigo)</dt>
        <dd>@Html.DisplayFor(model => model.Codigo)</dd>

        <dt>@Html.DisplayNameFor(model => model.Descripcion)</dt>
        <dd>@Html.DisplayFor(model => model.Descripcion)</dd>

        <dt>@Html.DisplayNameFor(model => model.Estado)</dt>
        <dd>@Html.DisplayFor(model => model.Estado)</dd>


    </dl>
</div>

<p>


    @Html.ActionLink("Regresar", "Index", new { @class = "btn btn-primary" })
    @Html.ActionLink("Editar", "Editar", new { Id = Model.ClasificacionProductoId }, new { @class = "btn btn-primary" })
</p>


