@model IEnumerable<PIV_Proyecto.Models.ClasificacionProducto>
@{
    ViewBag.Title = "Index";
}

<h2> Clasificacion Productos</h2>

<p>
    @Html.ActionLink("Nuevo", "Nuevo", null, new { @class = "btn btn-info" })

</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Estado</th>
        <th>Acciones</th>


    </tr>

    @foreach (var model in Model)
    {
        <tr>
            <td>@Html.DisplayFor(M => model.ClasificacionProductoId)</td>
            <td>@Html.DisplayFor(M => model.Codigo)</td>
            <td>@Html.DisplayFor(M => model.Descripcion)</td>
            <td>@Html.DisplayFor(M => model.Estado)</td>

            <td>
                @Html.ActionLink("Editar", "Editar", new { Id = model.ClasificacionProductoId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Detalles", "Detalles", new { Id = model.ClasificacionProductoId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Eliminar", "Eliminar", new { Id = model.ClasificacionProductoId }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }
</table>

