@model PIV_Proyecto.Models.Clasificacion
<<<<<<< HEAD
=======

>>>>>>> 4b3e4ed6f180eb062c75d9d73d5347f3e73cb0e3
@{
    ViewBag.Title = "Eliminar";
}

<<<<<<< HEAD
<h2>Eliminar</h2>

=======
>>>>>>> 4b3e4ed6f180eb062c75d9d73d5347f3e73cb0e3
<h2>Seguro que desea eliminar el registro?</h2>
<div>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ClasificacionId)</dt>
        <dd>@Html.DisplayFor(model => model.ClasificacionId)</dd>

        <dt>@Html.DisplayNameFor(model => model.Codigo)</dt>
        <dd>@Html.DisplayFor(model => model.Codigo)</dd>

        <dt>@Html.DisplayNameFor(model => model.Descripcion)</dt>
        <dd>@Html.DisplayFor(model => model.Descripcion)</dd>

        <dt>@Html.DisplayNameFor(model => model.Estado)</dt>
        <dd>@Html.DisplayFor(model => model.Estado)</dd>


    </dl>
    @using (Html.BeginForm())
    {
<<<<<<< HEAD
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
            @Html.ActionLink("Regresar", "Index")
        </div>
    }


</div>


=======
@Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-default" />
                    @Html.ActionLink("Regresar", "Index")
                </div>}


</div>
>>>>>>> 4b3e4ed6f180eb062c75d9d73d5347f3e73cb0e3
