@model IEnumerable<PIV_Proyecto.Models.Clasificacion>
@{
    ViewBag.Title = "Index";
}
<<<<<<< HEAD

<h2> Clasificacion</h2>
=======
<h2> Clasificacion de Unidad</h2>
>>>>>>> 4b3e4ed6f180eb062c75d9d73d5347f3e73cb0e3

<p>
    @Html.ActionLink("Nuevo", "Nuevo", null, new { @class = "btn btn-info" })

</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Estado</th>
        <th>Acciones</th>


    </tr>

    @foreach (var model in Model)
    {
        <tr>
            <td>@Html.DisplayFor(M => model.ClasificacionId)</td>
            <td>@Html.DisplayFor(M => model.Codigo)</td>
            <td>@Html.DisplayFor(M => model.Descripcion)</td>
            <td>@Html.DisplayFor(M => model.Estado)</td>

            <td>
                @Html.ActionLink("Editar", "Editar", new { Id = model.ClasificacionId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Detalles", "Detalles", new { Id = model.ClasificacionId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Eliminar", "Eliminar", new { Id = model.ClasificacionId }, new { @class = "btn btn-warning" })
            </td>
        </tr>
    }
</table>

